// Sans Font

$font-sans: 'Inter', sans-serif;
$font-sans-light: 'Inter', sans-serif;
$font-sans-x-light: 'Lexend', sans-serif;
$font-sans-xx-light: 'Lexend', sans-serif;
$font-sans-regular: 'Inter', sans-serif;

// Serif font
$font-serif: 'Times';
