@charset "UTF-8";

// Default Fonts Size Variables
$size-default: 1rem;

$size-x-huge: 30rem; // HL
$size-huge: 15rem; // HM
$size-bigger: 10rem; // HS

$size-big: 5rem; // H1
$size-xx-large: 4rem; // H2
$size-x-large: 3rem; // H3
$size-large: 2.4rem; // H4 / Q1
$size-medium: 1.6rem; // SH4 / Bodycopy 1, 2 & 3
$size-small: 1.4rem; // SH1 / SH2
