.container {
  @include margin--auto;
  max-width: 1440px;
  @apply pl-38;
  @apply pr-38;
  &.inner{    
    @apply pl-122;
    @apply pr-122;
  }
}

.container-bleed {
  @include margin--auto;
  max-width: 1440px;
}

.wrapper {
  overflow-x: hidden;
}
