.container {
  @include margin--auto;
  max-width: 1440px;
  @apply pl-8;
  @apply pr-8;
  &.inner{    
    @apply pl-44;
    @apply pr-44;
  }
}

.container-bleed {
  @include margin--auto;
  max-width: 1440px;
}

.wrapper {
  overflow-x: hidden;
}
