
.f-sans {
  font-family: $font-sans;
}

.f-header, .f-header p {
  font-family: $font-sans-header-standard;
}

.f-sans-light {
  font-family: $font-sans-light;
}

.f-sans-x-light {
  font-family: $font-sans-x-light;
}

.f-sans-xx-light {
  font-family: $font-sans-xx-light;
}

.f-sans-serif-light {
  font-family: $font-serif;
}
