.navigation {
    position: relative;

    &--mobile {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        z-index: 60;

        & ul {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }
}