.navigation {
    position: relative;

    &--mobile {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        padding: 2.4rem 6rem;
        z-index: 10;
        background-color: white;
    }
}