// ==================================
//  VARIABLES, MIXINS AND FUNCTIONS
// ==================================
@use 'sass:math';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "modules";

// ==================================
//  HELPER CLASSES
// ==================================
@import "helpers/helpers";

// ==================================
//  GENERIC
// ==================================
@import "generic/gen-fonts";
@import "generic/gen-type";
@import "generic/gen-animations";
@import "generic/gen-buttons";
@import "generic/gen-forms";
@import "generic/gen-colors";
@import "generic/gen-modals";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// TODO: Seperate this out into respective global css files

#nav {
  padding: 30px;
}

hr {
  border-top: 1px solid $c-black;
  opacity: 0.1;
}

.fill-blue {
  path {
    fill: $c-blue;
  }

  &--circle {
    circle {
      fill: $c-blue;
    }
  }
}

.fill-black {
  path, g {
    fill: #000000;
    stroke: #000000;
  }

  circle {
    stroke: #000000;
  }

  &--circle {
    circle {
      fill: #000000;
    }
  }
}

.fill-blue {
  path, g {
    fill: $c-blue;
    stroke: $c-blue;
  }

  circle {
    stroke: $c-blue;
  }

  &--circle {
    circle {
      fill: $c-blue;
    }
  }
}

.fill-blue-logo {
  path, g {
    fill: $c-blue;
  }
}

.stroke-blue {
  path {
    stroke: $c-blue;
    stroke-opacity: 1;
  }

  &--circle {
    circle {
      stroke: $c-blue;
    }
  }
}

.stroke-white {
  path {
    stroke: $c-white;
    stroke-opacity: 1;
  }

  &--circle {
    circle {
      stroke: $c-white;
    }
  }
}

.w-content {
  width: fit-content;
}

.img-mask {
  //Place on container element for image component
  -webkit-mask-image: url("https://yoke-space.imgix.net/images/svgs/egg-white.svg");
  mask-image: url("https://yoke-space.imgix.net/images/svgs/egg-white.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.disabled {
  color: white;
  opacity: 0.75;
  pointer-events: none;
  width: auto;
}

.absolute-center {
  position: absolute !important;
  right: 50%;
  top: 50%;
}

.custom-dot {
  position: relative;

  &:before {
    background-color: $c-blue;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 6px;
    transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 6px;

    @include media-breakpoint-up(md) {
      height: 12px;
      width: 12px;
    }
  }

  &.dots-white {
    &:before {
      background-color: $c-white;
    }
  }
}

.slick-active {
  .custom-dot {
    &:before {
      border-radius: 8px;
      width: 18px;

      @include media-breakpoint-up(md) {
        width: 25px;
      }
    }
  }
}

.slick-dots {
  bottom: -50px !important;
}

.custom-dot {
  position: relative;
  &:before {
    transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 50%;
    height: 6px;
    width: 6px;
    content: "";
    display: inline-block;
    background-color: $c-white;
  }

  .subheading {
    font-size: 1.3rem;
  }
}

.card-style {
  @include media-breakpoint-down(md) {
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    position: relative;
  }
}


.alert-success {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: fit-content;

  padding: 0 15px;

  margin: 0 auto 15px;

  border: 1px solid $c-blue;
  border-radius: 10px;

  color: $c-blue;

  &-verify {
    border: 1px solid $c-green;
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 auto 15px;
    color: $c-green;
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .close {
    border: 1px solid $c-blue;
    border-radius: 100%;

    width: 25px;
    height: 25px;

    margin-left: 15px;

    font-size: 2.5rem;
    line-height: 0;
  }
}

.articles {
  &__prismic-richtext {
    & .block-img {
      @apply my-32;
      @extend %text--body-small;
      & img {
        @apply mb-6;
      }
      & a {
        @extend %text--body-small;
      }
    }
    p {
      @extend %text--body-1;
      margin-bottom: 1.3rem;
    }

    a {
      font-family: $font-sans-light;
      font-size: $size-medium;
      font-weight: $weight-regular;
      text-decoration: underline;
    
      &:hover {
        text-decoration: none;
        color: $c-black;
      }
    }

    h1,h2,h3,h4 {
      margin-bottom: 1.2rem;
    }

    h1,h2 {
      line-height: 2.9rem;
      @include media-breakpoint-up(md) {
        line-height: 4.1rem;
        margin-bottom: 1.4rem;
      }
    }
  }
}
